body {
    margin: 0px 0px 0px -70px;
    padding: 0px;
    background-color: rgba(229,223,223,0.2);
    font-size: 13px;
    font-family: arial, helvetica, sans-serif;
    color: #000;
}

h1,h2,h3 {
    margin-top: 0px;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

p,ol,ul {
    margin-bottom: 1.8em;
    line-height: 160%;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

/* wrapper */

#wrapper {
    width: 900px;
    height: auto;
    margin: 30px auto 20px auto;
    background-color: rgba(243,345,247,.1);
}

/* Header */

#header {
    width: 970px;
    height: 90px;
    background-color: #014EFF;
    position: relative;
    border-radius: 7px;
}

/* logo */

#logo img {
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    padding: 10px 0px 0px 10px;
    margin-top: -5px;
	max-width: 100%;
	transition: all 0.3s;
}

.logo:hover img {
	transform: scale(1.1);
}


/* menu */

#menu {
    line-height: normal;
    margin-left: 50px;
}

#menu ul {
    margin: 0px 0px 0px 0px;
    list-style: none;
}

#menu ul li {
    position: relative;
    text-align: center;
    background-color: #014EFF;
    margin-top: auto;
    margin-left: 16px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    width: 90px;
    height: 40px;
    padding: 12px 20px 0px 20px;
    margin: 10px 30px 10px 0px;
}


#menu ul ul {
    position: absolute;
    left:-50px;
    top:80px;
    display: none;
    text-align: center;
    width: 0px;
}

#menu ul li:hover > ul{ 
    display: block;
    line-height: normal;
}


#menu li {
    float: left;
    margin: 0px 0px 0px 1px;
    padding: 10px 0px 0px 0px;
}

#baixo li {
    float: left;
    margin: 0px 0px 0px 1px;
}

#baixo2 li {
    float: left;
    margin: 0px 0px 0px 1px;
    padding: 10px;
}

#baixo a {
    border: 2px solid #000;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    display: block;
    width: 150px;
    height: 20px;
    padding: 10px;
    margin: 1px;
}

#baixo2 a {
    border: 2px solid #000;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-style: ;
    font-size: 18px;
    display: block;
    width: 150px;
    height: 30px;
    padding: 10px;
    margin: -1px -9px -9px -9px;
}

#menu a:hover {
    text-decoration: none;
    color: rgb(208, 200, 200);
}

/* page */

#page {
    width: 900px;
    margin: 0px auto;
    padding: 30px 0px;
}

/* Content */

#content {
    float:right;
    width: 570px;
}

.cap {
	width: 120px;
    height: 110px;
	margin-left: -40px;
}

.cap img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.cap:hover img {
	transform: scale(1.1);
}

.go {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 90px;
}

.go img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.go:hover img {
	transform: scale(1.1);
}

.mg {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 220px;
}

.mg img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.mg:hover img {
	transform: scale(1.1);
}

.ba {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 350px;
}

.ba img {
	margin: 1px 0px 0px 1px;
	height: 100px;
	width: 100px;
	max-width: 100%;
	transition: all 0.3s;
}

.ba:hover img {
	transform: scale(1.1);
}

.bot {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 480px;
}

.bot img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.bot:hover img {
	transform: scale(1.1);
}

.braga {
	width: 120px;
    height: 110px;
	margin: 10px 0px 0px -40px;
}

.braga img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.braga:hover img {
	transform: scale(1.1);
}

.cea {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 90px;
}

.cea img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.cea:hover img {
	transform: scale(1.1);
}

.cor {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 220px;
}

.cor img {
	margin: 10px 0px 0px 10px;
	height: 95px;
	width: 95px;
	max-width: 100%;
	transition: all 0.3s;
}

.cor:hover img {
	transform: scale(1.1);
}

.cori {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 350px;
}

.cori img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.cori:hover img {
	transform: scale(1.1);
}

.fla {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 480px;
}

.fla img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.fla:hover img {
	transform: scale(1.1);
}

.flu {
	width: 120px;
    height: 110px;
	margin: 10px 0px 0px -40px;
}

.flu img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.flu:hover img {
	transform: scale(1.1);
}

.fot {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 90px;
}

.fot img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.fot:hover img {
	transform: scale(1.1);
}

.goias {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 220px;
}

.goias img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.goias:hover img {
	transform: scale(1.1);
}

.gre {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 350px;
}

.gre img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.gre:hover img {
	transform: scale(1.1);
}

.int {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 480px;
}

.int img {
	margin: 10px 0px 0px 10px;
	height: 95px;
	width: 95px;
	max-width: 100%;
	transition: all 0.3s;
}

.int:hover img {
	transform: scale(1.1);
}

.pal {
	width: 120px;
    height: 110px;
	margin: 10px 0px 0px -40px;
}

.pal img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.pal:hover img {
	transform: scale(1.1);
}

.san {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 90px;
}

.san img {
	margin: 10px 0px 0px 10px;
	height: 95px;
	width: 95px;
	max-width: 100%;
	transition: all 0.3s;
}

.san:hover img {
	transform: scale(1.1);
}

.sp {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 220px;
}

.sp img {
	margin: 10px 0px 0px 10px;
	height: 95px;
	width: 95px;
	max-width: 100%;
	transition: all 0.3s;
}

.sp:hover img {
	transform: scale(1.1);
}

.spo {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 350px;
}

.spo img {
	margin: 10px 0px 0px 10px;
	height: 95px;
	width: 95px;
	max-width: 100%;
	transition: all 0.3s;
}

.spo:hover img {
	transform: scale(1.1);
}

.vas {
	width: 120px;
    height: 110px;
	margin: -112px 0px 0px 480px;
}

.vas img {
	margin: 10px 0px 0px 10px;
	height: 90px;
	width: 90px;
	max-width: 100%;
	transition: all 0.3s;
}

.vas:hover img {
	transform: scale(1.1);
}

/* Sidebar */

#sidebar {
    float: left;
    width: 300px;
    margin-top: -30px
}

#sidebar-content {
    padding: 5px;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar li ul {
    margin-bottom: 1.8em;
    padding-left: 20px;
    list-style: none;
}

#sidebar h2 {
    padding: 4px 20px;
    background: #014EFF;
    font-size: 1.2em;
    color: #fff;
    border-radius: 3px;
}

#sidebar h3 {
    text-align: center;
}

#sidebar a {
    text-decoration: none;
    color: #000;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#search form {
    margin-bottom: 1.8em;
    padding: 0px;
}

#search fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

#search #s {
    width: 160px;
}


/* Footer */

#footer {
    border-radius: 7px;
    width: 970px;
    height: 100px;
    color: #fff;
    background: #014EFF;
    clear: both;
    margin: auto;
}

#footer img {
	float: left;
    width: 90px;
    height: 90px;
}

#footer p {
    text-align: center;
    margin: 20px;
    padding: 19px 0px 0px 0px;
    line-height: normal;
    font-size: smaller;
}

#footer a {
    color: #fff;
}